

.createaccount {
  display: none;
}
.menu {
  margin: 4rem auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.58);
 width: 50vh;
 height: 100%;
 font-size: 1.2rem;

}

.welcome {
  margin-bottom: 1rem;
}

.login {
  margin: 0.5rem auto;
  padding: 0;
}
.logins {
  margin: 0 auto;
  padding: 0.4rem;
}

a {
  color: black;
  text-decoration: none;
}

.input {
  margin: 0.6rem;
  margin-bottom: 1rem;
  padding: .5rem;
  background-image:  linear-gradient(  to left, rgba(215, 224, 241, 0.133), rgba(179, 204, 213, 0.267));
  border:  transparent 0.01rem;
  border-radius: .8rem;
}

.menu span {
  margin-left: 1rem;
  justify-content: end;
  font-size: 1.2rem;
}

button   {
  padding: .3rem;
  margin: .5rem auto;
  width: 100px;
  border: solid .0001rem #95afb844 ;
  border-radius: .5rem;
  background-image: linear-gradient(  to left, hsla(169, 75%, 51%, 0.133), rgba(4, 109, 144, 0.267));
  box-shadow: 0px 0px 12px -5px rgba(0,0,0, 0.80);
  cursor: pointer;

  
}
